$textColor: black;

// colors
$background: #FFEFD8;
$purple: #b1adff;
$peach: #f6bd88;
$blue: #86b1ee;
$turquoise: #71dad5;

// with alpha
$purpleA: hsla(243deg, 100%, 84%, 0.8);
$peachA: hsla(29deg, 86%, 75%, 0.8);
$blueA: hsla(215deg, 76%, 73%, 0.8);
$turquoiseA: hsla(177deg, 59%, 65%, 0.8);

// darker
$peachDark: #ffa755;

// button active
$greyBack: #c4c4c4;
$greyText: #808080;